[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multifamm"]
	path = multifamm
	url = https://github.com/alexvolkmann/multifamm
